@import '../scss/base.scss';

.App {
  background-color: $c-primary-light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  @include media(min1200) {
    min-height: 90vh;
    margin: 5vh auto;
    box-shadow: 2px 3px 4px $c-shadow;
    border-radius: 0.2rem;
  } 
}

.content {
  display: flex;
  flex-direction: column;
  @include media(min900) {
    flex-direction: row;
  }
}


