$c-primary:#388e3c;
$c-primary-text:#fff;
$c-primary-light:#6abf69;
$c-primary-light-text:#002200;
$c-primary-dark:#00600f;
$c-primary-dark-text:#fff;
$c-secondary:#d4e157;
$c-secondary-light:#ffff89;
$c-secondary-dark:#a0af22;
$c-secondary-text:#002200;
$c-background:#fff;
$c-background-primary:#c8e6c9;
$c-background-secondary:#f9fbe7;
$c-background-text:#002200;
$c-placeholder:#666;
$c-shadow:#333;




