$c-primary:#388e3c;
$c-primary-text:#fff;
$c-primary-light:#6abf69;
$c-primary-light-text:#000;
$c-primary-dark:#00600f;
$c-primary-dark-text:#fff;
$c-secondary:#d4e157;
$c-secondary-light:#ffff89;
$c-secondary-dark:#a0af22;
$c-secondary-text:#000;
$c-background:#fff;
$c-background-text:#000;
$c-placeholder:#666;



